<div class=" container about_home">
    

    <div>
        <table>
            <tr>
                <td align="left"><strong><i>Payment Gateway Response Page</i></strong></td>
                <td>
                   
                </td>
            </tr>
        </table>
    </div>
</div>
