@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />


  <title> AquaCool </title>
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrapcss/bootstrap.min.css" />

  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/Index/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/Index/responsive.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <link rel="stylesheet" href="/css/ionicons.min.css">
  <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body, html {
            height: 100%;
            overflow: hidden;
        }

        #background-video {
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translate(-50%, -50%);
            z-index: -1;
            object-fit: cover;
        }

        .content {
            position: relative;
            z-index: 1;
            text-align: center;
            color: white;
            font-family: Arial, sans-serif;
            margin-top: 20%;
        }

  </style>
</head>

<body>
  <header>
        <image src="/Images/Logo.png" class="img-style my-5" style="margin-right: 1164px;"></image>
  </header>
    <video autoplay muted loop id="background-video">
        <source src="Videos/Fan movie.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  <main>
    <div class="container-fluid" >
      <div class="row"> @* bg-style *@
        <div class="col left-box">
         @*  <video class="col vd-style p-5 " controls muted >
            <source src="Videos/Technology Background Video Loop For Website.mp4" />
          </video> *@
                    
        </div>
        <div class="col right-box" >
          <div class="d-grid btn-size p-4 m-5" >

                        <a href="Home/QuickPayment" class="button rounded-pill btn btn-light"><img src="./Icons/Quick-Payment.png" alt="">Quick Payment</a>

                        <a href="/Home/login" class="button rounded-pill btn btn-light"><img src="./Icons/Customer-Login.png"></img>Customer Login</a>

                        <a href="#" onclick="openPdf('CSCharter')" class="button rounded-pill btn btn-light"><img src="./Icons/Customer-Service-Charter.png"></img>Customer Service Charter</a>

                        <a href="#" onclick="openPdf('faqs')" class="button rounded-pill btn btn-light"><img src="./Icons/FAQ.png"></img>FAQ</a>
          </div>
        </div>
        
      </div>
    </div>
  </main>



  <script src="/js/bootstrapjs/bootstrap.bundle.js"></script>
  <script src="https://kit.fontawesome.com/c5b8d1d3fa.js" crossorigin="anonymous"></script>
    <script>
        function openPdf(type) {
            if(type == 'CSCharter'){
                // Update the path to your actual PDF file
            window.open('/Documents/Aquacool Customer Service Charter Final-updated3.pdf', '_blank');
            }
            else{
                // Update the path to your actual PDF file
            window.open('/Documents/AquacoolFAQsPortal.pdf', '_blank');
            }
            
        }
    </script>
</body>

</html>
