@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />


  <title> AquaCool </title>
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrapcss/bootstrap.min.css" />

  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/Index/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/Index/responsive.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <link rel="stylesheet" href="/css/ionicons.min.css">
</head>

<body>
  <header>
        <image src="/Images/Logo.png" class="img-style my-5"></image>
  </header>

  <main>
    <div class="container-fluid" >
      <div class="row bg-style">
        <div class="col left-box">
          <video class="col vd-style p-5 " controls muted autoplay>
            <source src="Videos/Technology Background Video Loop For Website.mp4" />
          </video>
        </div>
        <div class="col right-box" >
          <div class="d-grid btn-size p-4 m-5" >
  
            <a href="Home/QuickPayment" class="button rounded-pill btn btn-light"><span class="btn"><i
                  class="fa-solid fa-dollar-sign " style="color: white;"></i></span>Quick Payment</a>
            
            <a href="/Home/login" class="button rounded-pill btn btn-light"><span class="btn "><i 
                  class="fa-solid fa-arrow-right-to-bracket" style="color: white;"></i></span>Customer Login</a>

            <a href="#" class="button rounded-pill btn btn-light"><span class="btn "><i
                  class="fas fa-user-cog " style="color: white;"></i></span>Customer Service Charter</a>

            <a href="#" class="button rounded-pill btn btn-light"><span class="btn "><i
               class="fa-regular fa-circle-question"  style="color: white;"></i></span>FAQ</a>
          </div>
        </div>
        
      </div>
    </div>
  </main>



  <script src="/js/bootstrapjs/bootstrap.bundle.js"></script>
  <script src="https://kit.fontawesome.com/c5b8d1d3fa.js" crossorigin="anonymous"></script>
</body>

</html>
