@{
    ViewData["Title"] = "Quick Payment Page";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/fevicon.png" type="">

    <title> QuickPayment </title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrapcss/bootstrap.min.css" />


    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/QuickPayment/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/QuickPayment/responsive.css" rel="stylesheet" />

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light shadow">
            <div class="container-fluid">
                <a href="@Url.Action("Index","Home")"><img class="logo-style ms-5" src="/images/Logo.png" alt=""> </a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto rounded">
                        @* <li class="nav-item">
                            <a class="nav-link mx-2" href="/Dashboard.html" style="color: #092f57;">DASHBOARD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="/Request.html" style="color: #092f57;">REQUEST</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#" style="color: #092f57;">PAYMENT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#" style="color: #092f57;">CUSTOMER SUPPORT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#" style="color: #092f57;">MANAGE PROFILE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#" style="color: #092f57;">LOGOUT <i class="fa-solid fa-right-from-bracket"></i></a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="bg-container d-md-flex">
            <div class="left-box"><img src="/images/BG1.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
            <div class="right-box">
                <div class="icon-text h3" style="font-weight: bolder;">
                        <img src="~/Icons/Quick-Payment.png" class="icon-style"/>
                    <span>Quick Payment</span>
                </div>
                <form class="form-style mt-5">
                    <div class="form-group">
                        <small class="form-text ps-3" style="color : #092f57">EAG Number</small>
                        <input required class="form-control rounded-pill f1" value="@ViewBag.ContractIdBag">
                    </div>
                    <div class="form-group" style="display:none">
                        <small class="form-text ps-3" style="color: #092f57;">Amount</small>
                        <input type="number"  class="form-control rounded-pill f2" value="@ViewBag.OutstandingBalance">
                    </div>
                    <a href="#myModal" class="btn rounded-pill btn-style my-4" id="btnPay" data-bs-toggle="modal">Next</a>
                </form>
            </div>
        </div>

        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" style=" color: #092f57; font-weight: bold;">Quick Pay</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-leftbox">
                            <form class="modal-style">
                                <div class="form-group">
                                    <small class="form-text ps-3" style="color : #092f57; font-size: 12px;">Customer Name</small>
                                    <input type="text" id="customerName" readonly class="form-control rounded-pill f1">
                                </div>
                                <div class="form-group">
                                    <small class="form-text ps-3" style="color: #092f57; font-size: 12px;">Project / Unit number</small>
                                    <input type="text" id="unitNumber" readonly class="form-control rounded-pill f2">
                                </div>
                                <div class="form-group">
                                    <small class="form-text ps-3" style="color: #092f57; font-size: 12px;display:none">Mobile Number</small>
                                    <input type="number" id="mobileNumber" style="display:none" class="form-control rounded-pill f2">
                                </div>
                                <div class="form-group">
                                    <small class="form-text ps-3" style="color: #092f57; font-size: 12px;display:none">Email ID</small>
                                    <input type="email" id="email" style="display:none"  class="form-control rounded-pill f2">
                                </div>
                            </form>
                        </div>
                       
                        <div class="md-container">
                            <form method="post" action="@Url.Action("Pay","Admin")">
                                <div class="modal-rightbox rounded mx-5 mt-4 mb-2  p-3">
                                    <div class="input-row ">
                                        <div class="input-col">
                                            <small class="form-text">Amount Due</small>
                                            <input type="text" id="amountDue" readonly class="form-control rounded-end rounded-pill" style="border: 1px solid #8FD2F0;">
                                        </div>
                                        <div class="input-col">
                                            <small class="form-text">Pay</small>
                                            <input type="number" id="payAmount" required name="payAmount" class="form-control rounded-start rounded-pill" style="border: 1px solid #8FD2F0;">
                                        </div>
                                    </div>

                                    <div class="mt-1 agree-text">
                                        <input type="checkbox" checked id="agree" name="interest" value="agree" />
                                        <label for="agree"><strong><small>I agree to Payment Terms and Conditions</small></strong></label>
                                    </div>
                                    <input type="submit" class="btn rounded-pill modal-btn mt-2" value="Pay Now" />
                                   @*  <a href="#" class="btn rounded-pill modal-btn mt-2">Pay Now</a> *@
                                </div>
                            </form>

                            <div class="row mx-5 payment-text">
                                <p style="color: #03213d;"><strong><small>Payments Terms and Conditions</small></strong></p>
                                <ul class="bullets">
                                    <li><strong>To avoid late payment charges, customer should pay their dues before due date.</strong></li>
                                    <li><strong>Any credit card, debit card or bank account information provided by customer should be true, correct and complete.</strong></li>
                                    <li><strong>Customer will pay the charges including applicable taxes.</strong></li>
                                </ul>
                            </div>
                         </div>
                   </div>
             </div>
        </div>
     </div>
  </main>
    
    <script src="/js/bootstrapjs/bootstrap.bundle.js"></script>
    <script src="https://kit.fontawesome.com/c5b8d1d3fa.js" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#btnPay').on('click', function (e) {
        e.preventDefault();

        var eagNumber = $('.f1').val(); // Get EAG number input
        var payAmount = $('.f2').val(); // Get pay amount input
        $.ajax({
            url: '/Home/GetCustomerDetails', // Your controller route
            type: 'GET',
            data: { eagNumber: eagNumber, payAmount : payAmount },
            success: function (data) {
                // Fill modal fields
                $('#customerName').val(data.customerName);
                            $('#unitNumber').val(data.projectName+" / "+data.unitNumber);
                $('#mobileNumber').val(data.mobileNumber);
                $('#email').val(data.email);
                $('#amountDue').val(data.amountDue);
                $('#payAmount').val(data.payAmount);
            },
            error: function () {
                alert('Failed to fetch customer details.');
            }
        });
    });
</script>

</body>
</html>