body{
   font-family: 'Roboto';
   height: 100%;
   width: 100%;
}


.logo-style{
    width: 9vmax;
}

/* Header Navbar */

.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar-nav{
    background-color:white;
}

/* Header Navbar End */



/* Background Design */

.bg-container{
    height: calc(100% - 100px);
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
  
  
.left-box{
    height: 100%;
    width: 30%;
    display: flex;
    
}

.img-style{
    width: 475px;
}

.right-box{
   height: 100%;
   width: 70%;
   padding: 80px 270px;
}

.right-box .table-wrapper {
   width: 100%;
   max-height: 23vh; /* scrollable height */
   overflow-y: auto;
   overflow-x: auto; /* hide horizontal scrollbar */
}
.right-box .table-wrapper table {
    width: 100%; /* make table fit container */
    display: table; /* reset display */
}

table {
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #009ADE;
    color: white;
}

th, td {
    padding: 5px;
    border: 1px solid #ddd;
    font-size: 70%;
    text-align: center;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

td:first-child {
    font-weight: bolder;
}

.icon-image{
    width: 25px;
}

.icon-text {
    display: inline;
    text-wrap: nowrap;
}
  
.icon-text i {
    margin-right: 10px;
}
  

.input-style{
    width: 28vw;
}


.comment-style{
    height: 8vh;
    background-color: #DAEAF9; 
    text-decoration: none; 
    color: black;
    border: 1px solid #90D0EF;
    border-radius: 30px 0px 0px 0px;

}


.btn-style {
    width: 100%;
    background-color: #033059;
    color: white;
}

.btn-style:hover, .btn-style:active {
    background-color: #04417a;
    border-right: 1px solid #42ad31;
    color: white;
}
 


/*Background Design End  */
