body{
   font-family: 'Roboto';
   height: 100%;
   width: 100%;
}


.logo-style{
    width: 9vmax;
}

/* Header Navbar */

.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar-nav{
    background-color:white;
}

/* Header Navbar End */



/* Background Design */

.bg-container{
    height: calc(100% - 100px);
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
  
  
.left-box{
    height: 100%;
    width: 30%;
    display: flex;
    
}

.img-style{
    width: 460px;
}

.right-box{
   height: 100%;
   width: 70%;
   padding: 80px 270px;
}

.icon-image{
    width: 60px;
}

.icon-style{
    width: 25px;
}
.icon-text {
    display: inline;
    text-wrap: nowrap;
}
  
.icon-text i {
    margin-right: 10px;
}
  

.input-style{
    width: 28vw;
}

.update-btn{
    width: 100%;
    background-color: #033059;
    color: white;
}

.update-btn:hover, .update-btn:active {
    background-color: #04417a;
    border-right: 1px solid #04417a;
    color: white;
 
}
 


.btn-style{
    width: 100%;
    background-color: #44D62C;
    color: white;
   
}

.btn-style:hover, .btn-style:active {
    background-color: #3ec529;
    border-right: 1px solid #42ad31;
    color: white;
   
 
}
 


/*Background Design End  */
