body{
   font-family: 'Roboto';
   height: 100%;
   width: 100%;
}


.logo-style{
    width: 9vmax;
}

/* Header Navbar */

.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar-nav{
    background-color:white;
}

/* Header Navbar End */



/* Background Design */

.bg-container{
    height: calc(100% - 100px);
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
  
  
.left-box{
    height: 100%;
    width: 30%;
    display: flex;
    
}

.img-style{
    width: 470px;
    height: 85vh;
}

.icon-image{
    width: 25px;
}

.right-box{
   height: 100%;
   width: 70%;
   padding: 80px 270px;
}

.input-style{
    width: 40vw;    
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}


thead {
    background-color: #009ADE;
    color: white;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    white-space: nowrap;
    font-size: 0.8vw;
    text-align: center;
}

th{
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

td:first-child{
    font-weight: bolder;
}


.table-row{
    border: 1px solid #009ADE;
    font-weight: bolder;
}

/*Background Design End  */


/* Mobile Design */

.mb-container{
    height: calc(100% - 100px);
    width: 100%;
}

.mbimage-style{
    width: 100vw;
    height: 88vh;
    background-image: url(/images/Stock\ BG18\ Image.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    height: 85vh;
    width: 55vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.mbinput-style{
    width: 45vw;
    
}

.mbbtn-style{
    background-color: #44D62C;
    color: white;
    width: 100%;
}




