@media (max-width: 991px) {

  .navbar-nav{
        background-color:white;
        width: 40%;
        opacity: 1;
        transform: translate(-2px, -1px);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
   }

  .logo-style{
    width: 12vw;
   
  }
 .left-box{
     height: 100%;
     width: 25%;
 }
 
 .img-style{
     width: 350px;
     height: 575px;
 }
 
 
 .right-box{
    height: 100%;
    width: 75%;
   
 }

 .input-style{
  width: 35vw;
}

}

@media (max-width: 767px) {
  
  .navbar{
    height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box{
  height: 70vh;
  width: 50vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.mbinput-style{
  width: 45vw;
}
}


@media (max-width: 600px) {

  .logo-style{
    width: 12vmax;
  }
.box{
    height: 70vh;
    width: 55vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.mbinput-style{
  width: 50vw;
}
}


@media (max-width: 500px) {

  .box{
      height: 70vh;
      width: 65vw;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content:center;
      flex-direction: column;
  }
 
  .mbinput-style{
    width: 60vw;
  }
}
  
@media (max-width: 420px) {
  .box{
    height: 70vh;
    width: 85vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.mbinput-style{
  width: 80vw;
  padding: 20px;
}
 
}

@media (max-width: 360px) {
  .box{
    height: 70vh;
    width: 95vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.mbinput-style{
  width: 100vw;
}

}
  
@media (max-width: 250px) {
  body{
    display: none;
  }
}


