
@{
    ViewData["Title"] = "ChangePasswordRequest";
}
<style>
    .forget-btn {
        background-color: #033059;
        color: white;
        width: 100%;
    }

        .forget-btn:hover, .forget-btn:active {
            background-color: #04417a;
            border-right: 1px solid #04417a;
            color: white;
        }
</style>
<div class="bg-container d-none d-md-flex">
    <div class="left-box "><img src="/images/BG2.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
    <div class="right-box">
        <form method="post" action="@Url.Action("ChangePasswordRequest","Account")">
            <div class="icon-text h3" style="font-weight: bolder;">
                <i class="fa-solid fa-arrow-right-to-bracket" style=" color: #092f57;"></i>
                <span>Change Password</span>
            </div>
            <div class="mt-5 input-style">
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><i class="fa-solid fa-user"></i></span>
                    <input type="text" class="form-control rounded-start rounded-pill" placeholder="User Name" name="UserName" style="border: 1px solid #8FD2F0;">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" class="form-control rounded-start rounded-pill" name="OldPassword" placeholder="Old Password" style="border: 1px solid #8FD2F0;">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" class="form-control rounded-start rounded-pill" name="NewPassword" placeholder="New Password" style="border: 1px solid #8FD2F0;">
                </div>
                <div class="mt-5">
                    <p style="color:red">@ViewData["ErrorMessage"]</p>
                    <input type="submit" class="btn rounded-pill forget-btn" value="Change Password" />
                </div>
            </div>
        </form>
        
    </div>
</div>
<!--Mobile design-->
<div class="mb-container d-md-none">
    <div class="mbimage-style ">
        <div class="box rounded shadow-lg">
            <div class="icon-text h3" style="font-weight: bolder;">
                <i class="fa-solid fa-arrow-right-to-bracket" style=" color: #092f57;"></i>
                <span>Foget Password</span>
            </div>
            <div class="mt-5 mbinput-style">
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><i class="fa-solid fa-user"></i></span>
                    <input type="text" class="form-control rounded-start rounded-pill" placeholder="User Name" style="border: 1px solid #8FD2F0;">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" class="form-control rounded-start rounded-pill" placeholder="Old Password" style="border: 1px solid #8FD2F0;">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" class="form-control rounded-start rounded-pill" placeholder="New Password" style="border: 1px solid #8FD2F0;">
                </div>

                <div class="mt-4">
                    <a href="#" class="btn rounded-pill mbforget-btn">Change Password</a>
                </div>
            </div>
        </div>
    </div>
</div>
