@media (max-width: 980px) {
    .bg-container {
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .left-box {
        width: 100%;
        height: 45%;
    }

    .img-style {
        border-radius: 0 !important;
        width: 100% !important;
        height: 100vh;
        object-fit: cover;
    }

    .logo-style {
        margin: 0 !important;
    }

    .right-box {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(4px);
        padding: 20px 10px;
        overflow-y: auto;
    }

    .h4 {
        font-size: 4.2vw;
        text-align: center;
        margin-bottom: 10px;
    }

    table {
        margin: 20px;
    }

    th, td {
        font-size: 50%;
    }

    .navbar {
        height: auto;
    }

    .navbar-nav {
        width: 60%;
        background-color: white;
        text-align: center;
    }

    .logo-style {
        width: 20vw;
    }
}
