body {
    font-family: 'Roboto';
    height: 100%;
    width: 100%;
}

.logo-style {
    width: 9vmax;
}

/* Header Navbar */

.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar-nav {
    background-color: white;
}

/* Header Navbar End */

/* Background Design */

.bg-container {
    height: calc(100% - 100px);
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.left-box {
    height: 100%;
    width: 30%;
    display: flex;
}

.img-style {
    width: 460px;
}

.icon-image {
    width: 25px;
}

.right-box {
    height: 100%;
    width: 70%;
    padding-top: 20px;
    padding-left: 18vw;
}

.right-box .table-wrapper {
    width: 100%;
    max-height: 70vh; /* scrollable height */
    overflow-y: auto;
    overflow-x: auto; /* hide horizontal scrollbar */
}
.right-box .table-wrapper table {
    width: 100%; /* make table fit container */
    display: table; /* reset display */
}

table {
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #009ADE;
    color: white;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    font-size: 70%;
    text-align: center;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

td:first-child {
    font-weight: bolder;
}
