@media (max-width: 991px) {

    .navbar-nav{
          width: 40%;
     }
  
    .logo-style{
      width: 12vw;
     
    }
   .left-box{
       height: 100%;
       width: 25%;
   }
   
   .img-style{
       width: 350px;
       height: 595px;
   }
   
   
   .right-box{
      height: 100%;
      width: 75%;
     
   }
  
   .input-style{
    width: 35vw;
  }
  
  .progress{
    width: 36vw;
}
 
 .step-container {
    width: 36vw;
 }
    .step-2 footer {
        font-size: 13px;
    }

    .step-2 p {
        font-size: 15px;
    }
  
  }
  
  @media (max-width: 767px) {
    
    .navbar{
      height: 80px;
      width: 100%;
  }
  
  
  .mbinput-style{
    width: 45vw;
  }

  .progress{
    width: 44vw;
  }
 
  .step-container {
    width: 44vw;
  }
  
  }
  
  
  @media (max-width: 600px) {
  
    .logo-style{
      width: 12vmax;
    }
  .box{
      height: 85vh;
      width: 60vw;
  }
  
  .mbinput-style{
    width: 50vw;
  }

  .progress{
    width: 50vw;
  }
 
  .step-container {
    width: 50vw;
  }
  }
  
  
  @media (max-width: 500px) {
  
    .box{
        height: 85vh;
        width: 65vw;
    }
   
    .mbinput-style{
      width: 60vw;
    }

    .progress{
      width: 58vw;
    }
   
    .step-container {
      width: 58vw;
    }
  }
    
  @media (max-width: 420px) {
    .box{
      height: 85vh;
      width: 85vw;
  }
  
  .mbinput-style{
    width: 80vw;
   
  }

  .mb-progress{
    position: relative;
    top: 55px;
  }
  
  .mbstep-container{
    position: relative;
    top: 55px;
  }

  .progress{
    width: 78vw;
  }
 
  .step-container {
    width: 78vw;
  }
 
  }
  
  @media (max-width: 360px) {
    .box{
      height: 87vh;
      width: 95vw;
  }
  
  
  }
    
  @media (max-width: 250px) {
    body{
      display: none;
    }
  }
  
  
  