body{
    font-family: 'Roboto';
    height: 100%;
    width: 100%;
 }
 
 
 .logo-style{
     width: 9vmax;
 }
 
 /* Header Navbar */
 
 .navbar{
     height: 100px;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
 }
 
 .navbar-nav{
     background-color:white;
 }
 
 /* Header Navbar End */
 
 
 
 /* Background Design */
 
 .bg-container{
     height: calc(100% - 100px);
     width: 100%;
     position: absolute;
     display: flex;
     flex-wrap: wrap;
 }
   
   
 .left-box{
     height: calc(100% - 100px);
     width: 30%;
     display: flex;
     
 }

 .img-style{
    height: 625px;
    width: 460px;
 }
 
 .right-box{
    height: calc(100% - 100px);
    width: 70%;
    padding: 80px 270px;
 }
 
 .input-style i{
    padding: 0 20px;
    
 }
 .icon-text {
     display: inline;
     text-wrap: nowrap;
 }
   
 .icon-text i {
     margin-right: 10px;
 }



.icon-image {
    width: 25px;
}

 .input-style{
    height: 70vh;
    width: 29vw;
 }

.btn-container {
    display: flex;
    gap: 10px;
}
.btn-style {
    background-color: #44D62C;
    color: white;
    width: 60%;
}

.backbtn-style {
    background-color: #808080;
    color: white;
    width: 40%;
}


 .btn-style1{
    background-color: #44D62C;
    color: white;
    width: 28vw;
}
 
 
 .btn-style:hover, .btn-style:active {
     background-color: #3ec529;
     border-right: 1px solid #42ad31;
     color: white;
  
 }

.backbtn-style:hover, .backbtn-style:active {
    background-color: #9b9a9a;
    border-right: 1px solid #8d8989;
    color: white;
}

 
 /*Background Design End  */
 
 
 /* Mobile Design */
 
 .mb-container{
     height: calc(100% - 100px);
     width: 100%;
 }
 
 .mbimage-style{
     width: 100vw;
     height: 88vh;
     background-image: url(/images/Stock\ BG4\ Image.jpg); 
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
 }

 .mbimage-style1{
    width: 100vw;
    height: 88vh;
    background-image: url(/images/Stock\ BG5\ Image.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
 
 .box{
     height: 85vh;
     width: 60vw;
     background-color: white;
     display: flex;
     align-items: center;
     justify-content:center;
     flex-direction: column;
 }

 .mb-progress{
    position: relative;
    top: 40px;
 }

 .mbstep-container{
    position: relative;
    top: 40px;
 }
 
 
 
 .heading i{
     font-weight: bold;
 }
 
 .heading h3{
     font-weight: bold;
 }
 
 
 
 .mbinput-style{
     width: 45vw;
    
 }
 
 .mbbtn-style{
     background-color: #44D62C;
     color: white;
     width: 100%;
 }
 
 .mbcust-btn{
     background-color: #033059;
     color: white;
     width: 100%;
 }
 
 
 /* Model Design End */


.progress{
    height: 3px; 
    width: 30vw;
}
 


.step-container {
    position: relative;
    text-align: center;
    transform: translateY(-43%);
    width: 30vw;
 }
  
.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #44D62C;
    line-height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer; /* Added cursor pointer */
}
 
   