body {
    font-family: 'Roboto';
    height: 100%;
    width: 100%;
}


.logo-style {
    width: 9vmax;
}

/* Header Navbar */

.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar-nav {
    background-color: white;
}

/* Header Navbar End */



/* Background Design */

.bg-container {
    height: calc(100% - 100px);
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}


.left-box {
    height: 100%;
    width: 30%;
    display: flex;
}

.img-style {
    width: 460px;
}

.right-box {
    height: 100%;
    width: 70%;
    padding: 15px 270px;
}

.input-style i {
    padding: 0 20px;
}

.icon-text {
    display: inline;
    text-wrap: nowrap;
}

    .icon-text i {
        margin-right: 10px;
    }

.input-style {
    width: 28vw;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.btn-style {
    background-color: #44D62C;
    color: white;
    width: 60%;
}

.backbtn-style {
    background-color: #808080;
    color: white;
    width: 40%;
}


.btn-style1 {
    background-color: #44D62C;
    color: white;
    width: 28vw;
}


.btn-style:hover, .btn-style:active {
    background-color: #3ec529;
    border-right: 1px solid #42ad31;
    color: white;
}

.backbtn-style:hover, .backbtn-style:active {
    background-color: #9b9a9a;
    border-right: 1px solid #8d8989;
    color: white;
}


/*Background Design End  */

