@media (max-width: 980px) {
    .img-style {
        border-radius: 0 !important;
        width: 100% !important;
        height: 100vh;
        object-fit: cover;
    }

    .navbar {
        height: auto;
        justify-content: center !important; /* centers navbar content */
    }

    .navbar .container-fluid {
        display: flex;
        justify-content: center; /* centers the logo inside the container */
    }

    .logo-style {
        margin: 0 !important;
        width: 20vw;
    }

    .navbar-nav {
        width: 60%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .bg-container {
        position: relative;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
    }

    .left-box {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .right-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(4px);
        padding: 20px;
    }

    .icon-text {
        font-size: 4vw;
    }

    .input-style {
        width: 80%;
    }
}
