body{
    font-family: 'Roboto';
    height: 100%;
    width: 100%;
 }
 
 
 .logo-style{
     width: 9vmax;
 }
 
 /* Header Navbar */
 
 .navbar{
     height: 100px;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
 }
 
 .navbar-nav{
     background-color:white;
 }
 
 /* Header Navbar End */
 
 /* Background Design */
 
 .bg-container{
     height: calc(100% - 100px);
     width: 100%;
     position: absolute;
     display: flex;
     flex-wrap: wrap;
 }
   
   
 .left-box{
     height: 100%;
     width: 30%;
     display: flex;
     
 }
 
 .img-style{
     width: 100%;
 }
 
 .right-box{
    height: 100%;
    width: 70%;
    padding: 80px 270px;
 }
.icon-style {
    width: 25px;
}

.icon-image {
    width: 50px;
}
 
 .input-style i{
    padding: 0 20px;
    
 }
 .icon-text {
     display: inline;
     text-wrap: nowrap;
 }
   
 .icon-text i {
     margin-right: 10px;
 }
   
 
 
 .input-style{
     width: 28vw;
 }
 .btn-style{
     background-color: #44D62C;
     color: white;
     width: 100%;
 }
 
 
 .btn-style:hover, .btn-style:active {
     background-color: #3ec529;
     border-right: 1px solid #42ad31;
     color: white;
  
 }
 
 
 .cust-btn{
     background-color: #033059;
     color: white;
     width: 100%;
 }
 
 .cust-btn:hover, .cust-btn:active {
     background-color: #04417a;
     border-right: 1px solid #04417a;
     color: white;
  
 }
 
 /*Background Design End  */
 