@media (max-width: 1100px) {

  .left-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .vd-style{
   max-width: 460px;
  }
  
  .right-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .btn-size{
    width: 300px;
    gap:22px;
  }

    .button img {
        width: 32px;
    }
  
  .btn{
    font-size: small;
  }
  
}


@media (max-width: 950px) {

  .left-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .vd-style{
   max-width: 420px;
  }
  
  .right-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .btn-size{
    width: 280px;
    gap:22px;
  }

    .button img {
        width: 27px;
    }
  
  .btn{
    font-size: x-small;
  }
  
}


@media (max-width: 600px){
  
  .left-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .vd-style{
   max-width: 300px;
  }
  
  .right-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .btn-size{
    width: 240px;
    gap:22px;
  }
 
  .btn{
    font-size: x-small;
  }
}


@media (max-width: 272px){
  
  .vd-style{
   max-width: 250px;
  }
  
  
  .btn-size{
    width: 200px;
    gap:22px;
  }
  
  
  .btn{
    font-size: xx-small;
  }
}

@media (max-width: 250px){
 body{
  display: none;
 }
}