
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="bg-container d-none d-md-flex">
    <div class="left-box "><img src="/images/BG2.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
    <form method="post" action="@Url.Action("Admin","ChangePassword")" role="form" >
        <div class="right-box">
            <div class="icon-text h3" style="font-weight: bolder;">
                <img src="~/Icons/Owner.png" alt="" style="width: 50px;">
                <span>Change Password</span>
            </div>
            <div class="mt-5 input-style">
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><img src="~/Icons/User-Name.png" alt="" class="icon-image"></span>
                    <input type="password" name="OldPassword" class="form-control rounded-start rounded-pill" placeholder="Old Password" style="border: 1px solid #8FD2F0;">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><img src="~/Icons/Password.png" alt="" class="icon-image"></span>
                    <input type="password" name="NewPassword" required class="form-control rounded-start rounded-pill" placeholder="New Password" style="border: 1px solid #8FD2F0;">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><img src="~/Icons/Password.png" alt="" class="icon-image"></span>
                    <input type="password" name="ConfirmPassword" required class="form-control rounded-start rounded-pill" placeholder="Confirm Password" style="border: 1px solid #8FD2F0;">
                </div>
                <div class="mt-5">
                    <a href="#" class="btn rounded-pill forget-btn">Change Password</a>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Mobile design-->
<div class="mb-container d-md-none">
    <div class="mbimage-style ">
        <div class="box rounded shadow-lg">
            <div class="icon-text h3" style="font-weight: bolder;">
                <img src="./Icons/Owner.png" alt="" style="width: 50px;">
                <span>Change Password</span>
            </div>
            <div class="mt-5 mbinput-style">
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" class="form-control rounded-start rounded-pill" required placeholder="Old Password" style="border: 1px solid #8FD2F0;">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" class="form-control rounded-start rounded-pill" required placeholder="New Password" style="border: 1px solid #8FD2F0;">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><i class="fa-solid fa-user"></i></span>
                    <input type="password" class="form-control rounded-start rounded-pill" required placeholder="Confirm Password" style="border: 1px solid #8FD2F0;">
                </div>

                <div class="mt-4">
                    <a href="#" class="btn rounded-pill mbforget-btn">Update</a>
                </div>
            </div>
        </div>
    </div>
</div>

