
@{
    ViewData["Title"] = "ChangePassword";
}

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/fevicon.png" type="">

    <title>Change Password</title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrapcss/bootstrap.min.css" />


    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/ForgetPage/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/ForgetPage/responsive.css" rel="stylesheet" />

</head>
<div class="bg-container d-md-flex">
    <div class="left-box "><img src="/images/BG2.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
    <form method="post" action="@Url.Action("Admin","ChangePassword")" role="form" >
        <div class="right-box">
            <div class="icon-text h3" style="font-weight: bolder;">
                <img src="~/Icons/Owner.png" alt="" style="width: 50px;">
                <span>Change Password</span>
            </div>
            <div class="mt-5 input-style">
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><img src="~/Icons/User-Name.png" alt="" class="icon-image"></span>
                    <input type="password" name="OldPassword" class="form-control rounded-start rounded-pill" placeholder="Old Password" style="border: 1px solid #8FD2F0;">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><img src="~/Icons/Password.png" alt="" class="icon-image"></span>
                    <input type="password" name="NewPassword" required class="form-control rounded-start rounded-pill" placeholder="New Password" style="border: 1px solid #8FD2F0;">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-pill rounded-end"><img src="~/Icons/Password.png" alt="" class="icon-image"></span>
                    <input type="password" name="ConfirmPassword" required class="form-control rounded-start rounded-pill" placeholder="Confirm Password" style="border: 1px solid #8FD2F0;">
                </div>
                <div class="mt-5">
                    <a href="#" class="btn rounded-pill forget-btn">Change Password</a>
                </div>
            </div>
        </div>
    </form>
</div>


