@using ServiceReference1;
@model Projects[]
@{
    ViewData["Title"] = "ReconnectionRequest";
}

    <div class="bg-container d-none d-md-flex">
        <div class="left-box "><img src="/images/BG10.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
        <div class="right-box pt-4">
            <div class="icon-text h4">
                <span>Create Recconection Request</span>
            </div>
            <div class="mt-5 input-style">
                <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Project Selection</span>
            <select class="form-control rounded-start rounded-pill" placeholder="Select" style="border: 1px solid #8FD2F0;" id="projectDropdown">
                <option value="">Select a project</option>
                @{
                    <option value="">project</option>
                    <option value="">project</option>
                    <option value="">project</option>
                    foreach (var project in Model)
                    {
                        <option value="@project.Id">@project.Name</option>
                    }
                }
            </select>
                @* <div class="input-group">
                    <span class="input-group-text rounded-end rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton"></span>
                    <input type="text" class="form-control rounded-start rounded-pill" placeholder="Select" style="border: 1px solid #8FD2F0;">
                    <div class="dropdown-menu shadow-lg " style="border: 1px solid #8FD2F0;" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div> *@


                <div class="ms-3 mt-2" style="color: #03213d; font-size: small; font-weight: bolder;">EAG</div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                </div>


                <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Disconnection Ticket ID</div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                </div>


                <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Outstanding Balance</div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                </div>


                <a href="#" class="btn rounded-pill btn-style mt-3">Submit</a>
                <a href="#" class="btn rounded-pill btn-style mt-3">Pay Now</a>

            </div>
        </div>
    </div>

    <!--Mobile design-->
    <div class="mb-container d-md-none">
        <div class="mbimage-style ">
            <div class="box rounded shadow-lg">
                <div class="h5 mb-5" style="font-weight: bolder; text-wrap: nowrap;">Create Recconection Request</div>

                <div class="mbinput-style">

                    <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Project Selection</span>
                    <div class="input-group">
                        <span class="input-group-text rounded-end rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton"></span>
                        <input type="text" class="form-control rounded-start rounded-pill" placeholder="Select" style="border: 1px solid #8FD2F0;">
                        <div class="dropdown-menu shadow-lg " style="border: 1px solid #8FD2F0;" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>


                    <div class="ms-3 mt-2" style="color: #03213d; font-size: small; font-weight: bolder;">EAG</div>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                    </div>


                    <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Disconnection Ticket ID</div>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                    </div>


                    <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Outstanding Balance</div>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                    </div>


                    <a href="#" class="btn rounded-pill btn-style mt-3">Submit</a>
                    <a href="#" class="btn rounded-pill btn-style mt-3">Pay Now</a>
                </div>
            </div>
        </div>
    </div>

