body {
    font-family: 'Roboto';
    height: 100%;
    width: 100%;
}

.logo-style {
    width: 9vmax;
}

/* Header Navbar */

.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar-nav {
    background-color: white;
}

/* Header Navbar End */

/* Background Design */

.bg-container {
    height: calc(100% - 100px);
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}


.left-box {
    height: 100%;
    width: 30%;
    display: flex;
    margin-bottom: 3vh;
}

.img-style {
    width: 100%;
}

.right-box {
    height: 100%;
    width: 70%;
    padding: 80px 270px;
}

.icon-style {
    width: 40px;
    background-color: #092f57;
    border-radius: 50px;
}

.icon-text {
    display: inline;
    text-wrap: nowrap;
}

    .icon-text i {
        margin-right: 10px;
    }

.f1 {
    border-color: lightblue;
}

.f2 {
    border-color: lightblue;
}

.form-style {
    width: 25vw;
}

.btn-style {
    background-color: #44D62C;
    color: white;
    width: 100%;
}

    .btn-style:hover, .btn-style:active {
        background-color: #3ec529;
        border-right: 1px solid #42ad31;
        color: white;
    }

.input-row {
    display: flex;
    gap: 10px; /* spacing between inputs */
}

.input-col {
    display: flex;
    flex-direction: column;
    flex: 1; /* equal width */
}

    .input-col small {
        margin-bottom: 4px;
        color: #092f57;
        font-weight: bold;
    }

/*Background Design End  */


/* Model Design */

.modal-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 200%;
}

.modal-style {
    font-weight: bolder;
    display: grid;
    gap: 15px;
}

.modal-body {
    display: flex;
    text-wrap: nowrap;
}

.modal-leftbox {
    height: 50vh;
    width: 60%;
}

.md-container {
    display: flex;
    flex-direction: column;
}

.modal-rightbox {
    width: 80%;
    background-color: #b7e8ff;
}

.modal-btn {
    background-color: #44D62C;
    color: white;
    width: 100%;
}

.modal-btn:hover, .modal-btn:active {
    background-color: #3ec529;
    border-right: 1px solid #42ad31;
    color: white;
}

.text-style {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 115px;
}

.bullets {
    position: relative;
    top: -15px;
    left: 13px;
    font-size: 11px;
    color: #033059;
}

/* Model Design End */


